@import "tailwindcss";

.custom-route-badge {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-route-badge::before {
  display: none !important;
}
